<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Electroshare</title>
  <link rel="stylesheet" href="/CSS/header.css">
  <link rel="stylesheet" href="/CSS/footer.css">
  <link rel="stylesheet" href="/CSS/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=IBM+Plex+Serif:wght@300&display=swap"
    rel="stylesheet" />

  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />
</head>

<body>

  <%- include("includes/header") %>
    <main>
      <section>
        <div class="Products_Animated_Film">
          <div class="container1">
            <%for(let i=0; i<info.length; i++){%>

              <a href="/<%=info[i].name%>" id="film_product_<%=i+1%>" style="text-decoration: none; height: 100%">
                <div class="film_product<%=i+1%>_section">
                  <div class="film_product_img<%=i+1%>">
                    <div class="film_product<%=i+1%>_grayscale"></div>
                    <img id="img<%=i+1%>_pic" src="<%=info[i].imgPath%>" alt="" />
                  </div>
                  <span id="img_text<%=i+1%>">
                    <%= info[i].name %>
                  </span>
                </div>
              </a>

            <%}%> 
          </div>
        </div>

        <div class="High_Gurantee">
          <h1 id="High_Gurantee_text">High Gurantee</h1>
        </div>

        <div class="Most_Rated">
          <h1 id="Most_Rated_text">Most Rated</h1>
        </div>
      </section>
    </main>

    <%- include('includes/footer') %>

      <script src="index.js"></script>
</body>

</html>